/* global style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
.body{
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
}

/* display size */
.container{
  padding: 20px 8%;
}

/* navber */

.header{
  background-color: #ffffff;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}
/* left side */
.nav-left-side{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-left-side img{
  height: 48px;
  width: 34px;
}
.nav-left-side p{
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

