/* global style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
.body{
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
}

/* display size */
.container{
  padding: 20px 8%;
}

/* navber */

.header{
  background-color: #ffffff;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}
/* left side */
.nav-left-side{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-left-side img{
  height: 48px;
  width: 34px;
}
.nav-left-side p{
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

/* middle side */
.nav-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:40px;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  font-weight: 500;
}
.nav-links a:hover{
  color: blue;
}

/* common btn */
.common-btn{
  padding: 10px 22px;
  display: flex;
  gap: 10px;
  align-items: center;

  border: none;
  background-color:#E8BA2E;
  color:#000102;
  border-radius: 10px;

  font-size: 16px;
  font-weight:700;
  font-style: normal;

  cursor: pointer;
}
.common-btn:hover{
  background-color: yellowgreen;
}